# Build and run files
_bin/
_obj/
AS_DEBUG/
*log.txt
*.o
*.dll
*.exe
*.so
*.lib
*.a
*.obj

# Visual Studio
*.sln
*.vcxproj
!**/external/**/*.vcxproj
*.sdf
*.opensdf
*.suo
*.user
*.log
*.lastbuildstate
*.tlog
*.pdb
*.idb
*.exp
*.ilk
*.filters
*.ipch
*.vsp
*.psess
*.lastcodeanalysissucceeded

# Code::Blocks
*.depend
*.layout
*.cbp
*.workspace

# GitEye
/.project

# Other
_old/
_draft/
doc/doxygen/
